* {
  margin: 0;
  padding: 0;
}

#logo {
  width: 100px;
}

.text-warning img {
  transition: 0.5s;
  object-fit: cover;
}
.text-warning img:hover {
  transform: scale(1.1);
}

/* MENU DE NAV */
header {
  background-color: #002f87;
}

nav ul {
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
  font-family: "Kanit", sans-serif;
}

.nav-link:hover {
  color: #ADDAF6;
}

main {
  font-family: "Roboto", sans-serif;
  background-color: #cfcfcf;
  width: 100%;
}

.centrar {
  display: flex;
  justify-content: center;
  height: 100%;
}

.fondo_sec {
  background-color: #ffffff;
  display: inline-block;
  height: 100%;
  width: 80%;
}

/* INICIO  */
.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 50px 0 50px 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.subtitle {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  font-weight: 700;
}

.subtitle_centrado {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  font-weight: 700;
}

.parrafo {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1rem;
}

.parrafo_izq {
  text-align: left;
  font-size: 1.3rem;
  font-weight: 600;
}

.img_inicio {
  display: flex;
  justify-content: center;
}
.img_inicio img {
  margin: 30px;
  width: 60%;
}

/* HISTORIA */
.conteiner_historia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  margin: 20px;
  flex-grow: 1;
  flex-basis: 0;
}
.item img {
  width: 100%;
}

/* ESTADIO */
.img_estadio {
  text-align: center;
}
.img_estadio img {
  margin: 30px;
  width: 60%;
}

/* PLANTEL */
#centrar {
  margin-right: 100px;
  margin-left: 100px;
}
#centrar div img {
  width: 12rem;
  height: 18rem;
}

.nombre_posicion {
  background-color: #cfcfcf;
  text-align: center;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}

.nombres {
  text-align: center;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 1.4rem;
}

.jugador {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.jugadores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.jugadores img {
  transition: 0.5s;
  object-fit: cover;
}
.jugadores img:hover {
  transform: scale(1.1);
}

/* CONTACTO */
#contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 500;
}

#correo {
  border: 1px solid black;
  width: 50%;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

#coment {
  border: 1px solid black;
  width: 50%;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

#enviar {
  background-color: #F1F6F9;
  margin: 20px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 500;
}

footer {
  background-color: #002f87;
  text-align: center;
}
footer h3 {
  color: white;
  padding-top: 5px;
}

.sn_icon img {
  margin: 10px;
}

@media screen and (max-width: 1025px) {
  .nav-link {
    text-align: center;
  }
  .conteiner_historia {
    flex-direction: column;
    align-items: center;
  }
  .item img {
    width: 25rem;
  }
  .img_estadio img {
    width: 25rem;
  }
}
@media screen and (max-width: 768px) {
  .jugadores {
    flex-direction: column;
    align-items: center;
  }
  .jugador {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  body {
    height: 100%;
  }
  #name {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
    font-size: 1rem;
    font-weight: 500;
  }
  #correo {
    border: 1px solid black;
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 500;
  }
  #coment {
    border: 1px solid black;
    width: 50%;
    height: 30%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 500;
  }
  #enviar {
    background-color: #F1F6F9;
    margin: 10px 0 10px 0;
    font-size: 1rem;
    font-weight: 500;
  }
  footer {
    height: 5%;
  }
}
@media screen and (max-width: 550px) {
  .item {
    margin: 5px;
  }
  .item img {
    width: 20rem;
  }
  .img_estadio img {
    width: 20rem;
  }
}
@media screen and (max-width: 450px) {
  .item {
    margin: 7px;
  }
  .item img {
    width: 15rem;
  }
  .img_estadio img {
    width: 15rem;
  }
}
@media screen and (max-width: 350px) {
  .img_estadio img {
    width: 13rem;
  }
}

/*# sourceMappingURL=styles.css.map */
