* {
  margin: 0;
  padding: 0;
}

#logo {
  width: 100px;
}

/* MENU DE NAV */
header {
  background-color: #002f87;
}

nav ul {
  height: 100%;
}

nav ul li {
  list-style: none;
  font-family: "Archivo", sans-serif;
}

a {
  text-decoration: none;
  color: #ADDAF6;
  font-size: 1.5rem;
  font-family: "Kanit", sans-serif;
}

li a:hover {
  color: #ffffff;
}

main {
  font-family: "Roboto", sans-serif;
  background-color: #cfcfcf;
  height: 87%;
  width: 100%;
}

.centrar {
  text-align: center;
  height: 100%;
}

.fondo_sec {
  background-color: #ffffff;
  display: inline-block;
  height: 100%;
  width: 80%;
}

/* INICIO  */
.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 50px 0 50px 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.subtitle {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  font-weight: 700;
}

/* HISTORIA */
#conteiner_historia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "texto img" "texto img";
}

#sectUno_hist {
  grid-area: texto;
}

#sectDos_hist {
  grid-area: img;
}

#sectUno_hist {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 100px;
}

#sectDos_hist {
  display: flex;
  justify-content: center;
  align-items: center;
}

#imgHisUno {
  border: 2px solid black;
  width: 60%;
}

/* ESTADIO */
#sect_est h3 {
  text-align: center;
}

#parrafoTres {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0 100px;
}

#sect_vid {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}

#sect_vid iframe {
  height: 400px;
  width: 700px;
}

/* PLANTEL */
#centrar {
  margin-right: 100px;
  margin-left: 100px;
}
#centrar div img {
  width: 12rem;
  height: 18rem;
}

.nombre_posicion {
  background-color: #cfcfcf;
  text-align: center;
  padding: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
}

.nombres {
  text-align: center;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 1.4rem;
}

#golero {
  display: flex;
  flex-wrap: wrap;
}
#golero div {
  width: 33%;
}

#defensa {
  display: flex;
  flex-wrap: wrap;
}
#defensa div {
  width: 33%;
}

.mediocampista {
  display: flex;
  flex-wrap: wrap;
}
.mediocampista div {
  width: 33%;
}

.delantero {
  display: flex;
  flex-wrap: wrap;
}
.delantero div {
  width: 33%;
}

/* CONTACTO */
#contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 500;
}

#correo {
  border: 1px solid black;
  width: 50%;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

#coment {
  border: 1px solid black;
  width: 50%;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

#enviar {
  background-color: #F1F6F9;
  margin: 10px;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

footer {
  background-color: #002f87;
  text-align: center;
}

footer h3 {
  color: white;
  font-family: "Kanit", sans-serif;
}

@media screen and (max-width: 768px) {
  a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  body {
    height: 100%;
  }
  #sectImg {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 0;
  }
  #sectImg img {
    padding: 20px;
    width: 60%;
  }
  #name {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
    font-size: 1rem;
    font-weight: 500;
  }
  #correo {
    border: 1px solid black;
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 500;
  }
  #coment {
    border: 1px solid black;
    width: 50%;
    height: 30%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 500;
  }
  #enviar {
    background-color: #F1F6F9;
    margin: 10px 0 10px 0;
    font-size: 1rem;
    font-weight: 500;
  }
  footer {
    height: 5%;
  }
}

/*# sourceMappingURL=styles.css.map */
